autom4te.cache
src/Makefile
src/Makefile.in
Makefile
Makefile.in
aclocal.m4
config.log
config.status
configure
depcomp
install-sh
missing
src/.deps
**/*.o
configure~
.cache/clangd/index
src/playground
build
bin
release
**/*.spv
